<div class="col-md-8 py-3 ">
<h2>当店在庫一覧</h2>
<table class='table table-hover table-inverse'>
<thead>
<tr>
<th>ID</th>
<th>車種</th>
<th>年式</th>
<th>本体価格</th>
<th>支払い総額</th>
<th>車両画像</th>
</tr>
</thead>
<tbody>

