<div class='container px-5 px-sm-0'>
<div class="row">
<div class="col-md-3">
</div>

<div class="col-md-7 py-3 ">
<h2>来店予約一覧</h2>
<table class='table table-hover table-inverse'>
<thead>
<tr>
<th>予約者</th>
<th>メールアドレス</th>
<th>予約日</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<% @customer.each do |customer| %>
<tr>
<td><%= customer.last_name %><%= customer.first_name %></td>
<td><%= customer.email %></td>
<% end %>
  <%#= reservation.day %>
<%#= reservation.time %>

  <%#= link_to '削除', admin_reservation_path(customer_reservation.id), method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>

          </tbody>
        </table>
      </div>
